# /etc/systemd/system/house.sensorreader.service
[Unit]
Description=Sensor Reader
After=mosquitto.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/pi/regler/sensorreader.py
SendSIGKILL=no
RestartForceExitStatus=100
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
