# /etc/systemd/system/house.hassio.service
[Unit]
Description=Hassio Data Bridge
After=mosquitto.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/pi/regler/hassio.py
SendSIGKILL=no
RestartForceExitStatus=100
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
